<h3>Azure AD Authentication with Azure Angular MSAL library</h3>

<hr>

<table>  
  <thead>  
    <tr>  
      <th>Id</th>  
      <th>Name</th>  
      <th>Company</th>  
      <th>City</th>  
    </tr>  
  </thead>  
  <tbody>  
    <tr *ngFor="let employee of employees">  
      <td>{{ employee.id }}</td>  
      <td>{{ employee.name }}</td>  
      <td>{{ employee.company }}</td>  
      <td>{{ employee.city }}</td>  
    </tr>  
  </tbody>  
</table>  

<hr>

<button (click)="getUser()">User Name</button>
<button (click)="logout()">Logout</button>